
#Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#quote-box{
  background-color: white;
  width: 30%;
  margin: auto;
 
  padding:20px;
  text-align: right;
}
h4{
  text-align: center;
}
.new-quote{
  border: 0;
  
}

p{
  text-align: right;
}