

main {
  border: 4px solid black;
  width: 300px;
  height: 70%;
  margin: auto;
  margin-top: 150px;

}

#display {
  width: 280;
  height: 45px;
  font-family: Calibri,sans-serif;
  text-align: right;
  line-height: 5px;
  
  background-color: black;
  color: white;
  margin: 0;
  padding: 20px;
}

.secdiv {
  display: flex;
  flex-direction: row;

}

#clear {
  color: white;
  background-color: red;
  height: 75px;
  width: 150px;
}

#divide {
  color: white;
  background-color: rgb(136, 131, 131);
  height: 75px;
  width: 25%
}

#multiply {
  color: white;
  background-color: rgb(136, 131, 131);
  height: 75px;
  width: 25%
}

#seven {
  color: white;
  background-color: black;
  height: 75px;
  width: 25%
}

#eight {
  color: white;
  background-color: black;
  height: 75px;
  width: 25%
}

#nine {
  color: white;
  background-color: black;
  height: 75px;
  width: 25%
}

#minus {
  color: white;
  background-color: rgb(136, 131, 131);
  height: 75px;
  width: 25%
}

#four {
  color: white;
  background-color: black;
  height: 75px;
  width: 25%
}

#five {
  color: white;
  background-color: black;
  height: 75px;
  width: 25%
}

#six {
  color: white;
  background-color: black;
  height: 75px;
  width: 25%
}

#plus {
  color: white;
  background-color: rgb(136, 131, 131);
  height: 75px;
  width: 25%
}

#one {
  color: white;
  background-color: black;
  height: 75px;
  width: 75px;
}

#two {
  color: white;
  background-color: black;
  height: 75px;
  width: 75px;
}

#three {
  color: white;
  background-color: black;
  height: 75px;
  width: 75px;
}

#equals {
  color: white;
  background-color: rgb(53, 159, 191);
  height: 150px;
  width: 75px;
}

#zero {
  color: white;
  background-color: black;
  height: 75px;
  width: 150px;
}

#decimal {
  color: white;
  background-color: black;
  height: 75px;
  width: 75px
}

footer{
  text-align: center;
  font-family: Calibri, sans-serif;
}

